<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section frontPage">
    <h1>ART HISTORY 101</h1>
    <button type="button" name="button">
      About
      <span class="about">This app is...</span>
    </button>
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16" (click)="fullpage_api.moveSectionDown()">
      <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
  </div>

  <!page2>
  <!DOCTYPE html>
	<div class="section">
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
min-height: 100%;
background-position: center;
background-size: cover;
}
</style>
<body>


<!-- Top header -->
<header class="w3-container w3-xxlarge w3-text-grey">
  <p class="w3-left">Choose a story about the masterpiece</p>
  <p class="w3-right">
    <i class="fa fa-shopping-cart w3-margin-right"></i>
    <i class="fa fa-search"></i>
  </p>
</header>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:400px;margin-top:1000px" id="mySidebar">
<div class="w3-container w3-display-container w3-padding-16">
  <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
</div>
<div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
  <button onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">a. Are all his own paintings on the walls?</button>

<!-- a -->
<div id="id01" class="w3-modal">
<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
  <div class="w3-container w3-white w3-center">
    <h1 class="w3-wide">Why...?</h1>
    <p>The wall is indeed......</p>
    <div class="w3-row">
      <div class="w3">
        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">OK</button>
      </div>
      </div>
    </div>
  </div>
</div>

  <button onclick="document.getElementById('id02').style.display='block'" class="w3-bar-item w3-button">b. Why are there pairs of furniture? Such as chairs and pillows.</button>

<!-- b -->
<div id="id02" class="w3-modal">
<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
  <div class="w3-container w3-white w3-center">
    <h1 class="w3-wide">Why...?</h1>
    <p>The wall is indeed......</p>
    <div class="w3-row">
      <div class="w3">
        <button onclick="document.getElementById('id02').style.display='none'" type="button" class="w3-button w3-block w3-green">OK</button>
      </div>
      </div>
    </div>
  </div>
</div>

 <button onclick="document.getElementById('id03').style.display='block'" class="w3-bar-item w3-button">c. Does the wall seem crooked?</button>
<!-- c -->
<div id="id03" class="w3-modal">
<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
  <div class="w3-container w3-white w3-center">
    <h1 class="w3-wide">Why...?</h1>
    <p>The wall is indeed......</p>
    <div class="w3-row">
      <div class="w3">
        <button onclick="document.getElementById('id03').style.display='none'" type="button" class="w3-button w3-block w3-green">OK</button>
      </div>
      </div>
    </div>
  </div>
</div>

     <button onclick="document.getElementById('id04').style.display='block'" class="w3-bar-item w3-button">d. The room looks neat and seems a bit empty?</button>
<!-- d -->
<div id="id04" class="w3-modal">
<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
  <div class="w3-container w3-white w3-center">
    <h1 class="w3-wide">Why...?</h1>
    <p>The wall is indeed......</p>
    <div class="w3-row">
      <div class="w3">
        <button onclick="document.getElementById('id04').style.display='none'" type="button" class="w3-button w3-block w3-green">OK</button>
      </div>
      </div>
    </div>
  </div>
</div>


</div>
</nav>


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:400px">


<p><img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Vincent_van_Gogh_-_Van_Gogh%27s_Bedroom_in_Arles_-_Google_Art_Project.jpg" alt="Vincent van Gogh - Van Gogh's Bedroom in Arles - Google Art Project.jpg" height="500" width="645"></p>

<!-- Push down content on small screens -->
<div class="w3-hide-large" style="margin-top:123px"></div>


</div>

</body>
</html>
</div>

	<div class="section" (click)="fullpage_api.moveTo('secondPage', 2)">Some section4</div>
</div>
